<section class="content-section">

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2 text-center">
            <h2>آیا نوع وب سایت هم در قیمت آن تاثیر گذار است؟</h2>

            <p>وب سایت ها را می تواند بر اساس نوع آنها نیز طبقه بندی کرد، انواع مختلف وب سایت می توانند پیچیدگی های متفاوت و در نتیجه قیمت های متفاوتی داشته باشند، ولی دسته بندی وب سایت ها به این صورت در دسته های مختلف لزوما نیاز شما را تشریح نمیکند، از اینرو ما پیشنهاد میکنیم برای محاسبه قیمت از نرم افزار محاسبه گر استفاده کنید، اگر خلاصه ای از فاکتورهای اثر گذار بر روی قیمت می خواهید، جدول زیر میتواند به شما کمک کند.</p>

            <p>در زیر می توانید خلاصه ای از انواع مختلف وب سایت و قیمت های تقریبی آنها مشاهده نمایید.</p>

        </div>

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2" style="padding-bottom: 20px;}">

            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های داده محور و کوچک</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 16 تا 30 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>فاقد بانک اطلاعاتی</li>
                    <li>امکانات تخصصی ابتدایی</li>
                    <li>فاقد ساپورت</li>
                    <li>فاقد صفحات مدیریتی، تمام صفحات استاتیک</li>
                    <li>زمان مورد نیاز برای انجام: از 10 تا 30 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>1,000,000 - <span class="smaller-copy">تومان</span>3,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های شرکتی و اداری</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 30 تا 75 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>دارای بانک اطلاعاتی</li>
                    <li>امکانات تخصصی ابتدایی</li>
                    <li>ساپورت دو ماهه</li>
                    <li>صفحات مدیریتی برای مطالب</li>
                    <li>زمان مورد نیاز برای انجام: از 30 تا 60 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>3,000,000 - <span class="smaller-copy">تومان</span>6,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های تجاری و فروشگاه</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 100 تا 1000 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>دارای بانک اطلاعاتی</li>
                    <li>امکانات تخصصی متوسط</li>
                    <li>ساپورت شش ماهه</li>
                    <li>درگاه پرداخت، صفحات مدیریت کالا</li>
                    <li>زمان مورد نیاز برای انجام: از 60 تا 120 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>6,000,000 - <span class="smaller-copy">تومان</span>10,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های پیشرفته با امکانات متنوع</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 200 تا 2000 صفحه</li>
                    <li>ساخت قالب از ابتدا</li>
                    <li>دارای بانک اطلاعاتی پیشرفته</li>
                    <li>امکانات تخصصی پیشرفته</li>
                    <li>ساپورت دو ساله</li>
                    <li>صفحات مدیریتی پیشرفته</li>
                    <li>زمان مورد نیاز برای انجام: از 120 تا 180 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>10,000,000 - <span class="smaller-copy">تومان</span>20,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>

        </div>

    </section>