<div class="container">

        <div class="row">
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">سفارش وبسایت</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12  text-center">
                <h1>ساخت یک وب سایت این روزها چقدر خرج دارد؟</h1>

                <br />
                <br />


                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <p class="text-justify">محاسبه هزینه ساخت یک وب سایت یکی از کارهای مشکل در عرصه توسعه وب است، دلیل این امر جزئیات فراوانی که در ساخت یک وب سایت می تواند در نظر گرفته شود است، ما نرم افزاری طراحی کردیم به نام محاسبه گر قیمت که این کار را آسان تر می کند، ولی این امر هنوز کار مشکلی است، در ادامه میتوانید توضیحاتی در مورد چرایی این امر را بخوانید، لطفا توجه کنید که قیمت های محاسبه شده توسط محاسبه گر قیمت های تقریبی هستند.</p>
                    </div>
                </div>


                <br />
                <br />

                <a href="#cost-breakdowns" class="btn btn-lg btn-info smooth-scroll">توضیحاتی در مورد هزینه های یک سایت <span class="fa fa-angle-down"></span></a>
                <a href="#calculator" class="btn btn-lg btn-success smooth-scroll">استفاده از محاسبه گر قیمت ما</a>
            </div>
        </div>

    </div>