@using System.Threading.Tasks
@using WebFor.Web.ViewModels.Article
@using WebFor.Web.Areas.Admin.ViewModels.Article
@model List<ArticleViewModel>

<h4>آخرین مطالب بلاگ</h4>
<div>

    @foreach (var article in Model)
    {
        <div class="media">

            <div class="media-body">
                <span class="media-heading"><a href="/Article/Detail/@article.ArticleId/@article.ArticleTitle.Replace(' ', '-')">@article.ArticleTitle</a></span>
                <small class="muted">ارسال شده در <span class="persianDate">@article.ArticleDateCreated.ToString("MM/dd/yyyy")</span></small>
            </div>
        </div>
    }

</div>