<section class="content-section" id="cost-breakdowns">

        <div class="col-sm-6 col-sm-offset-3">
            
            <h2 class="text-center">جزیات برخی از هزینه های متداول در زمان راه اندازی وب سایت</h2>

            <p>هزینه ساخت یک وب سایت می تواند تحت تاثیر فاکتورهای زیادی قرار گیرد، همان طور که می دانید یک وب سایت با امکانات ابتدایی هزینه خیلی کمتری برای ساخت و پیشتیبانی دارد، در این بخش ما بخشی از هزینه های متداول یک وب سایت را تشریح می کنیم، برخی از اجزا فقط در زمان شروع یک وب سایت هزینه بر هستند و برخی از آنها در طول تمام عمر وب سایت برای شما هزینه خواهند داشت، ما این بخش را دائم به روز رسانی خواهیم کرد تا قیمت های لیست شده در اینجا مطابق با آخرین قیمت های روز بازار باشند.</p>

        </div>

        <div id="filterContainer" class="col-sm-6 col-sm-offset-3">

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all domain-name">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">نام دامنه</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>دامنه وب سایت شما آدرسی است که شما برای ورود به یک وب سایت از آن استفاده میکنید، که از این لحاظ مانند اثر انگشت انلاین شماست، و با ثبت یک آدرس آدرسی مانند آن قابل ثبت نیست. شما هر سال باید بابت نام دامنه پول پول پرداخت کنید که این هزینه به هزینه های دیگر سایت اضافه می شود. نام دامنه شما برای موفقیت وب سایت شما مهم است چون نمایندگی کننده محتوای وب سایت شماست، یک نام خوب میتواند به جذب بازدید کننده کمک کند و به اعتبار نام و محصول شما بیفزاید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 6,000 تا 50,000 تومان در سال</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all website-hosting">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">وب هاست</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وب هاست جایی است که فایل های وب سایت شما را در خود جای میدهد تا بقیه به آن دسترسی داشته باشند، فضایی که وب سایت شما احتیاج دارد بر روی سرور شرکت ارائه دهنده اینگونه سرویس ها قرار میگیرد، و هرکس از وب سایت شما بازدید کرد سرور صفحه مورد نظر را به درخواست کننده میدهد. جایی که وب سایت شما هاست می شود مهم است چون اگر وب هاست شما از کیفیت پایینی برخوردار باشد سرعت صفحات وب سایت شما میتواند کند شود، یا اگر اینترنت سرور کیفیت مناسبی نداشته باشد سایت شما از دسترس خارج میشود، نکته اینکه وب هاستی که انتخاب میکنید اهمیت زیادی در ارائه یک سرویس با کیفیت برای مشتریانتان دارد، ما در این قسمت وب هاست های ایرانی را با هم مقایسه کردیم، و تصمیم را برای انتخاب یکی از آنها بر عهده شما گذاشتیم.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 70,000 تا 800,000 تومان در سال</span></p>

                </div>

            </div>

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all cms">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">مدیریت محتوا</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>منظور از مدیریت محتوا نرم افزارهایی هستند که به شما اجازه میدهند بدون دست بردن در سورس کد سایت مطالب جدید ارسال و یا مطالب قبلی را ویرایش کنید و ساختار سایت را تغییر دهید، نرم افزار های مدیریت محتوا میتوانند از ابتدا بر اساس نیاز کاربر نوشته شوند و یا میتوان از نرم افزارهای مدیریت محتوای آماده استفاده کرد، که این نرم افزارها نیز به دو دسته رایگان و غیر رایگان تقسیم می شوند، نرم افزارهای مدیریت محتوای آماده معمولا هزینه کمتری برای راه اندازی احتیاج دارند ولی انعطاف لازم را ندارند و اگر خواستید چیزی به آن اضافه کنید باید آن را در چهار چوب آن نرم افزار مدیریت محتوا انجام دهید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 1,000,000 تا 10,000,000 تومان</span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--red all ecommerce">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">وب سایت های فروشگاهی و ای کامرس</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وب سایت های دارای فروشگاه نوع دیگری از وب سایت هستند که قابلیت اتصال به درگاه بانک و پرداخت از سوی کاربر در آنها وجود دارد، ولی این تنها امکان یک وب سایت ای کامرس یا فروشگاه نیست، ولی یکی از مهمترین هاست، صدور فاکتور، مدیریت سید خرید و غیره از دیگر امکانات یک وب سایت ای کامرس است، هزینه اصلی اینگونه وب سایت ها با اینکه کار ساخت آنها میتواند پیچیده باشد بیشتر نهفته در اطمینان از دست کار کردن آنها، قبل از اینکه وب سایت آماده استفاده باشد باید مطمئن شد تمام اجزای فروشگاه آن طوری که باید کار کند کار میکند، در غیر اینصورت باعث ضرر خریدار و فروشنده خواهد شد، وب سایت هایی که دارای امکان فروشگاه هستند میتوانند امکانات متنوعی داشته باشند، و طبیعتا با توجه به امکانات آنها هزینه آنها زیر افزایش پیدا میکند.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 1,000,000 تا 10,000,000 تومان </span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all design-theme">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">دیزاین شکل ظاهری و قالب سایت</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وقتی پای طراحی ظاهر و دیزاین یک وب سایت به میان می آید، طراحی می تواند از سطح خیلی پایین تا بالاترین حد ممکن پیش رود، در هر دو صورت وب سایت شما و المنت های پایه ای آن کار میکنند، ولی ظاهر زیبایی ندارند، و این خود مشکل بزرگی است، چون هرچقدر هم زیر ساخت های توسعه ای سایت شما قوی باشد، مشتریان شما اولین چیزی را که خواهند دید شکل ظاهری سایت شماست. شکل ظاهری سایت شما می تواند بازدید کنندگان شما را جذب خود کند، و باعث رونق تجارت یا بازدید بیشتر سایت شما شود، یا می تواند اثر عکس را داشته باشد. در این بین برای پایین آمدن هزینه ها می توان از قالب های پیش ساخته شده استفاده کرد، ولی قالب های از پیش ساخته شده چون توسط یک وب دیزاینر از ابتدا ساخته نشده اند، انعطاف کافی را ندارند و ایجاد تغییر در آنها سخت تر است. نکته مهم دیگر تفاوت میان وب دیزاینر و وب دولوپر است، شما در اینجا می توانید در مورد تفاوت میان این دو بخوانید، برای گرفتن بهترین نتیجه ممکن برای طراحی ظاهر یک سایت شما به یک وب دیزاینر احتیاج دارید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 500,000 تا 2,000,000 تومان</span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all seo">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">سئو</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>برای جذب بیشترین بازدید کننده سایت شما باید برای موتورهای جستجو بهینه سازی شود، این بهینه سازی می تواند دو نوع باشد، بهینه سازی زمان ساخت، یعنی توسعه گر باید به کد ها، تگ ها و ساختاری که در سایت به کار می برد دقت کند تا مطابق با چیزی باشند که موتورهای جستجو انتظار آن را دارند که به آن بهینه سازی تحت صفحه می گویند، نوع دیگر بهینه سازی که از بهینه سازی که پیش از این مطرح شد سخت تر است، شامل تحقیق در مورد کیبورد های محبوب برای وب سایت شماست، به طور مثال اگر وب سایت شما در زمینه فروش کیف فعالیت میکند، بهینه ساز باید یک لیست از کلماتی که مشتری های بالقوه شما ممکن است آن را جستجو کنند تهیه کند، و شروع کند آن کیبورد ها را در پست هایی که شما در سایت خود ارسال میکند به کار ببرد، این فقط یک نمونه از کاری که باید انجام شود بود، منظور اینکه هزینه های مربوط به سئو می توانند از هزینه ابتدایی بهینه سازی تحت صفحه شروع شوند تا بهینه سازی کامل تمام جنبه های یک وب سایت برای موتورهای جستجو، نوع اول این بهینه سازی فقط در زمان ساخت سایت هزینه دارد، ولی نوع دوم هزینه آن ماهانه است، چون به دست آوردن امتیاز در موتورهای جستجو طی یک روز یا یک هفته امکان پذیر نیست.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 500,000 تومان تا 1,000,000 تومان در ماه</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all database">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">بکارگیری بانک اطلاعاتی</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>به کارگیری بانک اطلاعاتی در پروسه ساخت یک وب سایت می تواند شما را از تغییر فایل های مربوط به وب سایت برای ایجاد محتوای جدید بی نیاز کند، پیچیدگی به کار گیری بانک اطلاعاتی در وب سایت میتواند سطح های مختلفی داشته باشد، به طور مثال وب سایتی که از قبل بانک اطلاعاتی سازمانی به هزاران رکورد را در خورد دارد و می خواهد این بانک اطلاعاتی را در یک فروشگاه به کار ببرد هزینه بیشتری نیست به فروشگاهی یا سایتی که از ابتدا با بانک اطلاعاتی جدید شروع به کار میکند دارد، نسبت به پیچیدگی کار هزینه ای که بر روی نگهداری بانک اطلاعاتی می شود میتواند متغییر باشد، ذکر این نکته خالی از لطف نیست که بانک اطلاعاتی میتواند مهمترین بخش یک سیستم باشد، پس هزینه کردن برای نگهداری آن ضروری است.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 300,000 تومان تا 2,000,000 تومان</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all maint">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">پشتیبانی بعد از تحویل</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>پشتیبانی یک سایت به توجه به سرویسی که شما برای پشتیبانی انتخاب کرده اید شامل بخش های مختلفی می شود، برخی از این سرویس ها شامل به روز رسانی وب سایت شما با آخرین آپدیت نرم افزاری که در آن استفاده شده، اطمینان از اینکه هاستی که نرم افزار شما بر روی آن میزبانی می شود درست کار میکند، تغییر های مختصر در نحوه کارکرد سایت شما طوری که یک مکان جدید به حساب نیاید، اطمینان از اینکه وب سایت شما زمانی که هکری در حال حمله کردن به سایت است هنوز درست کار میکند و به مشتریان و بازدید کنندگان شما سرویس میدهد و اقلامی از این دست، پشتیبانی یک سایت امر بسیار مهمی است چون اتفاقات بسیاری ممکن است رخ دهد که می تواند وب سایت شما را از کار بیندازد که مستقیما به سازنده سایت که ما باشیم ارتباط ندارد، ما با توجه به سرویسی که برای پشتیبانی انتخاب میکنید در همه یا برخی از مسائل فوق نظارت خواهیم داشت.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 200,000 تا 1,000,000 تومان در سال</span></p>

                </div>

            </div>


        </div>

    </section>