<section class="content-section no-padding-top no-padding-bottom">
        <div class="text-center">
            <img alt="Download the cheat sheet now!" src="~/images/site-order/website-cost-cta-image.png">
            <br/>
            <p style="font-size: larger;">
                <span style="font-size: xx-large;">لیست قیمت ها</span> را از اینجا دریافت کنید.
            </p>
            <p style="font-size: large;">این لیست حاوی جزئیات سرویس و قیمت نهایی برای پیاده سازی آن است.</p>
            <div class="website-cost-download-cta-btn">
                <a class="btn btn-lg btn-default" style="width: 200px;" href="~/files/WebForPriceList.xlsx"><span class="fa fa-download"></span> &nbsp;دانلود!</a>
            </div>
        </div>
    </section>