@model WebFor.Web.ViewModels.SiteOrder.SiteOrderViewModel

@{
    ViewData["Title"] = "سفارش وبسایت";
}

@section styles{
    <link href="~/lib/jquery-smart-wizard/smart_wizard.css" rel="stylesheet" />
    <link href="~/css/site-order.css" rel="stylesheet" />
    <link href="~/css/site-order-wizard.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/checkbox-slider.css" rel="stylesheet" />

}

@if (TempData["CreateContactMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["CreateContactMessage"]</h4>
        </div>
    </p>
}

<section id="title" style="background-image: url(/images/site-order/bg-masthead-website-cost.jpg); height: 424px; color: white;">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">سفارش وبسایت</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12  text-center">
                <h1>ساخت یک وب سایت این روزها چقدر خرج دارد؟</h1>

                <br />
                <br />


                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <p class="text-justify">محاسبه هزینه ساخت یک وب سایت یکی از کارهای مشکل در عرصه توسعه وب است، دلیل این امر جزئیات فراوانی که در ساخت یک وب سایت می تواند در نظر گرفته شود است، ما نرم افزاری طراحی کردیم به نام محاسبه گر قیمت که این کار را آسان تر می کند، ولی این امر هنوز کار مشکلی است، در ادامه میتوانید توضیحاتی در مورد چرایی این امر را بخوانید، لطفا توجه کنید که قیمت های محاسبه شده توسط محاسبه گر قیمت های تقریبی هستند.</p>
                    </div>
                </div>


                <br />
                <br />

                <a href="#cost-breakdowns" class="btn btn-lg btn-info">توضیحاتی در مورد هزینه های یک سایت <span class="fa fa-angle-down"></span></a>
                <a href="#calculator" class="btn btn-lg btn-success">استفاده از محاسبه گر قیمت ما</a>
            </div>
        </div>

    </div>
</section>

<section class="row" style="padding-bottom: 0;">
    <div class="col-sm-offset-3 col-sm-6">

        <p>چرایی مشکل بودن محاسبه هزینه یک وب سایت می تواند در نحوه و روش های مختلفی یک یک وب سایت میتواند ساخته شود نهفته است، که خیلی از مواقع یک مشتری ممکن است از این جزئیات خبر نداشته باشد، ما در این بخش سعی کردیم جزئیات زیادی را که ممکن است در ساخت یک وب سایت دخیل باشد در محاسبه گر قیمت خود به کار ببریم و توضیحات آسان و مختصری در مورد آنها بدهیم.</p>

        <p>این شما هستید که تصمیم میگیرید یک روش تولید یا یک امکان را در سایت خود به کار ببرید یا نه، یکی از خصوصیات پروسه ساخت یک وب سایت این است که اینکه یک وب سایت کار می کند یا ظاهر زیبایی دارد تضمین کننده این که وب سایت درست کار میکند نیست، اگر بخواهیم به صورت کلی به این موضوع نگاه کنیم وب سایت ها به دو دسته تقسیم می شوند، یک قالب و طاهر مسئولیت آن با وب دیزاینر است، دوم توسعه وب سایت که منظور کدهایی است که باعث میشوند تلف یک سایت یک کار مشخص را انجام دهند، بر این اساس قوانین و قواعد زیادی هستند که میتوانند رعایت شوند که کیفیت ساخت را افزایش میدهند، نکته این بحث این است که زمانی که می خواهید برای ساخت یک وب سایت هزینه کنید آن را با خرید های دیگر خود مقایسه نکنید، چون از ظاهر یک ووب سایت نمیتوان در مورد کیفیت و ارزش آن تصمیم گیری کرد.</p>

        <p>ولی چرا کیفیت ساخت یک وب سایت مهم است؟ دلیل آن است که کسانی که به کیفیت وب سایت اهمیت میدهند در دراز مدت در هزینه های صرفه جویی میکنند، چون اگر سایت در زمانی که تجارت شما رو به راه شده دجار مشکل شود، شما پول بیشتری ازمیدهید تا زمانی که هنوز وب سایت راه اندازی نشده، ولی شما چگونه می توانید در مورد کیفیت ساخت یک وب سایت قضاوت کنید؟ ما در نرم افزار محاسبه گر قیمت خود تصمیم گرفتیم چیزی را از کاربر مخفی نکنیم، ازاینرو کنار هر امکانی که شما میخواهید اضافه کنید لینکی قرار دادیم که در مورد آن امکان توضیحات مختصری میدهد و برای حزئیات بیشتر شما به یک منبع اطلاعاتی هدایت میکند، کار دیگری که در مورد مورد می توان کرد این است که یک مشاور برنامه نویس را به کار بگیرید تا در مورد تصمیم گیری در مورد امکانات وب سایت خود شما را راهنمایی کند، با این کار شما کیفیت ساخت سایت خود را تضمین میکنید و در دراز مدت هزینه های زیادی را صرفه جویی میکنید.</p>

    </div>
</section>

<section class="website-cost-calculator" id="calculator" style="padding-bottom:0;">
    <h2 class="website-cost-calculator-header">با استفاده از محاسبه گر قیمت ما میتوانید در سریع ترین زمان ممکن از هزینه پروژه خود آگاه شوید</h2>
    <section class="masthead masthead--website-cost-calculator">
        <section class="masthead__content-wrapper content-section">


            <div id="show_form" class="row">

                <form asp-controller="SiteOrder" asp-action="Index" id="calculateFinalPriceForm" method="post" role="form">

                    <ul class="payment-wizard list-unstyled">

                        <li class="active">

                            <div class="wizard-heading">
                                1. امکانات پایه
                                <span class="fa fa-bank"></span>
                            </div>

                            <div class="wizard-content">
                                <div class="row wizard-inner-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نوع وب سایت</label> - <a href="#">(وب سایت های انترنتی چه انواع مختفی میتوانند داشته باشند؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderWebSiteType">
                                                <option value="">لطفا نوع وب سایت را مشخص کنید</option>
                                                <option value="Personal">شخصی</option>
                                                <option value="Blog">بلاگ</option>
                                                <option value="Shop">فروشگاه</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تعداد طرح های پیش ساخت</label> - <a href="#">(نمونه طرح پیش ساخت چیست و چه استفاده ای دارد؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderNumberOfMockUp">
                                                <option value="">لطفا تعداد نمونه طرح های پیش ساخت را مشخص کنید</option>
                                                <option value="0">نمونه لازم نیست، تمام ایده ها از خودم است</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="5">5</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>پیچیدگی ساخت</label> - <a href="#">(وب سایت های انترنتی تا چه حد میتوانند پیجیده باشند؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderDevelopmentComplexity">
                                                <option value="">لطفا پیچیدگی سایت را مشخص کنید</option>
                                                <option value="Standard">استاندارد</option>
                                                <option value="Advanced">پیشرفته</option>
                                                <option value="Enterprise">تجاری</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تعداد صفحات استاتیک</label> - <a href="#">(منظور از استاتیک چیست و چه فرقی با دینامیک دارد؟)</a>
                                        </div>

                                        <div class="col-md-3">
                                            <input asp-for="SiteOrderStaticPageNumber" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>داشتن بانک اطلاعاتی؟</label> - <a href="#">(بانک اطلاعاتی چیست و چه تاثیری روی وب سایت میگذارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveDatabase" name="SiteOrderDoesHaveDatabase" />
                                                <label for="SiteOrderDoesHaveDatabase"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>داشتن سبد خرید</label> - <a href="#">(سبد خرید چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveShoppingCart" name="SiteOrderDoesHaveShoppingCart" />
                                                <label for="SiteOrderDoesHaveShoppingCart"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> سبد خرید بدون ثبت نام</label> - <a href="#">(سبد خرید بدون نیاز به ثبت نام کاربر چه امکاناتی دارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveShoppingCartWithoutRegister" name="SiteOrderDoesHaveShoppingCartWithoutRegister" />
                                                <label for="SiteOrderDoesHaveShoppingCartWithoutRegister"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>داشتن بلاگ</label> - <a href="#">(منظور از بلاگ چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveBlog" name="SiteOrderDoesHaveBlog" />
                                                <label for="SiteOrderDoesHaveBlog"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تولید محتوا</label> - <a href="#">(منظور از محتوا چیست و تولید آن بر عهده کیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesContentOnUs" name="SiteOrderDoesContentOnUs" />
                                                <label for="SiteOrderDoesContentOnUs"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نوع پشتیبانی</label> - <a href="#">(منظور از پشتیبانی چیست و چرا به آن احتیاج دارید؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderSupportType">
                                                <option value="">لطفا نوع پشتیبانی را انتخاب کنید</option>
                                                <option value="NoSupport">پشتیبانی لازم نیست</option>
                                                <option value="OneYear">یک ساله</option>
                                                <option value="TwoYear">دوساله</option>
                                                <option value="FiveYear">پنج ساله</option>
                                                <option value="IndefiniteSupport">مادام العمر</option>
                                            </select>

                                        </div>
                                    </div>


                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>

                        </li>

                        <li>

                            <div class="wizard-heading">
                                2. امکانات طراحی و ظاهر
                                <span class="fa fa-paint-brush"></span>
                            </div>


                            <div class="wizard-content">
                                <div class="row wizard-inner-content" style="height: 560px;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از قالب آماده</label> - <a href="#">(قالب آماده چیست و چه تفاوتی به قالب دست ساز دارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseTemplates" name="SiteOrderDoesUseTemplates" />
                                                <label for="SiteOrderDoesUseTemplates"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از قالب دست ساز</label> - <a href="#">(قالب دست ساز چیز و مزیت آن نسبت به قالب آماده چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseCustomDesign" name="SiteOrderDoesUseCustomDesign" />
                                                <label for="SiteOrderDoesUseCustomDesign"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>دیزاین واکنش گرا</label> - <a href="#">(واکنش گرایی در دیزاین چیست و مزیت های آن چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsResponsive" name="SiteOrderIsResponsive" />
                                                <label for="SiteOrderIsResponsive"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بهینه سازی برای موبایل</label> - <a href="#">(بهینه سازی برای موبایل چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsOptimizedForMobile" name="SiteOrderIsOptimizedForMobile" />
                                                <label for="SiteOrderIsOptimizedForMobile"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بهینه سازی دسترسی</label> - <a href="#">(بهینه سازی دسترسی چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsOptimizedForAccessibility" name="SiteOrderIsOptimizedForAccessibility" />
                                                <label for="SiteOrderIsOptimizedForAccessibility"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بهینه سازی برای سبکی</label> - <a href="#">(بهینه سازی برای سبکی چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsOptimizedForLightness" name="SiteOrderIsOptimizedForLightness" />
                                                <label for="SiteOrderIsOptimizedForLightness"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>کار کردن بدون جاوا اسکریپت</label> - <a href="#">(کار کردن بدون جاوا اسکریپت یا گریسفول دگردیشن چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesWithOkWithJavascriptDisabled" name="SiteOrderDoesWithOkWithJavascriptDisabled" />
                                                <label for="SiteOrderDoesWithOkWithJavascriptDisabled"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بهینه سازی برای موتورهای جستجو</label> - <a href="#">(بهینه سازی برای موتورهای جستجو چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveSeo" name="SiteOrderDoesHaveSeo" />
                                                <label for="SiteOrderDoesHaveSeo"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نوع بهینه سازی</label> - <a href="#">(بهینه سازی برای متوهای جستجو چه انواعی دارد؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderSeoType">
                                                <option value="">لطفا نوع بهینه سازی برای متوهای جستجو را مشخص کنید</option>
                                                <option value="Standard">استاندارد</option>
                                                <option value="Advanced">پیشرفته</option>
                                                <option value="Enterprise">تجاری</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نقشه سایت</label> - <a href="#">(نقشه سایت چیست و چه تاثیری بر سایت میگذارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveSiteMap" name="SiteOrderDoesHaveSiteMap" />
                                                <label for="SiteOrderDoesHaveSiteMap"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>

                        </li>

                        <li>

                            <div class="wizard-heading">
                                3. امکانات فنی و ساختاری
                                <span class="fa fa-code"></span>
                            </div>


                            <div class="wizard-content">
                                <div class="row wizard-inner-content" style="height: 507px;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>کراسپلتفرم</label> - <a href="#">(منظورت از کراسپلتفرم چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsCrossPlatform" name="SiteOrderIsCrossPlatform" />
                                                <label for="SiteOrderIsCrossPlatform"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>یونیت تست</label> - <a href="#">(یونیت تست چیست و چه تاثیری رو کیفیت نرم فزار میگذارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeUnitTest" name="SiteOrderDoesIncludeUnitTest" />
                                                <label for="SiteOrderDoesIncludeUnitTest"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>غیر همزمان بودن توابع</label> - <a href="#">(منظور از غیر همزمان بودن توابع چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsAsync" name="SiteOrderIsAsync" />
                                                <label for="SiteOrderIsAsync"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>پرنسیب سالید دیزان</label> - <a href="#">(پرنسیب سالید دیزان چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesConformToSolidDesign" name="SiteOrderDoesConformToSolidDesign" />
                                                <label for="SiteOrderDoesConformToSolidDesign"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>وب سایت تک صفحه ای</label> - <a href="#">(وب سایت تک صفحه ای چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderIsSinglePage" name="SiteOrderIsSinglePage" />
                                                <label for="SiteOrderIsSinglePage"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>اسفاده از آژاکس</label> - <a href="#">(آژاکس چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseAjax" name="SiteOrderDoesUseAjax" />
                                                <label for="SiteOrderDoesUseAjax"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>شدت استفاده از آژاکس</label> - <a href="#">(شدت استفاده از آژاکس چه تاثیری بر سایت میگذارد؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderDoesUseAjaxType">
                                                <option value="">لطفا شدت استفاده از آژاکس را مشخص کنید</option>
                                                <option value="Standard">استاندارد</option>
                                                <option value="Advanced">پیشرفته</option>
                                                <option value="Enterprise">تجاری</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از اس اس ال</label> - <a href="#">(اس اس ال چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveSsl" name="SiteOrderDoesHaveSsl" />
                                                <label for="SiteOrderDoesHaveSsl"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تحویل با سورس کد</label> - <a href="#">(چرا تحویل تحویل با سورس کد مهم است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesSourceCodeIncluded" name="SiteOrderDoesSourceCodeIncluded" />
                                                <label for="SiteOrderDoesSourceCodeIncluded"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>مستند سازی</label> - <a href="#">(مستند سازی چیست و چه اهمیتی دارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveDocumentation" name="SiteOrderDoesHaveDocumentation" />
                                                <label for="SiteOrderDoesHaveDocumentation"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>

                        </li>

                        <li>

                            <div class="wizard-heading">
                                4. بخش های تشکیل دهنده
                                <span class="fa fa-building"></span>
                            </div>

                            <div class="wizard-content">
                                <div class="row wizard-inner-content" style="height: 534px;">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت ثبت نام</label> - <a href="#">(قابلیت ثبت نام شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveRegistration" name="SiteOrderDoesHaveRegistration" />
                                                <label for="SiteOrderDoesHaveRegistration"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ورود بدون ثبت نام با اوآث</label> - <a href="#">(ورود به سایت با اوآث چیست و چه مزیت هایی دارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveExternalAuth" name="SiteOrderDoesHaveExternalAuth" />
                                                <label for="SiteOrderDoesHaveExternalAuth"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بخش کاربری</label> - <a href="#">(داشتن بخش کاربری شامل چه امکاناتی میشود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeUserArea" name="SiteOrderDoesIncludeUserArea" />
                                                <label for="SiteOrderDoesIncludeUserArea"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بخش پروفایل کاربری</label> - <a href="#">(پروفایل کاربری شامل چه امکاناتی میشود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveUserProfile" name="SiteOrderDoesHaveUserProfile" />
                                                <label for="SiteOrderDoesHaveUserProfile"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>داشتن بخش مدیریت</label> - <a href="#">(بخش مدیریت شامل چه امکاناتی است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveAdminSection" name="SiteOrderDoesHaveAdminSection" />
                                                <label for="SiteOrderDoesHaveAdminSection"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بخش مدیریت کاربران</label> - <a href="#">(بخش مدیریت کاربران شامل چه امکاناتی است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesAdminManageUsers" name="SiteOrderDoesAdminManageUsers" />
                                                <label for="SiteOrderDoesAdminManageUsers"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>مدیریت فایل</label> - <a href="#">(بخش مدیریت فایل چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveFileManager" name="SiteOrderDoesHaveFileManager" />
                                                <label for="SiteOrderDoesHaveFileManager"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>گالری عکس</label> - <a href="#">(بخش گالری عکس شامل چه امکاناتی است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveImageGallery" name="SiteOrderDoesHaveImageGallery" />
                                                <label for="SiteOrderDoesHaveImageGallery"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ادیتور اچ تی ام ال پیشرفته</label> - <a href="#">(ادیتور اچ تی ام ال پیشرفته شامل جه امکاناتی است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveAdvancedHtmlEditor" name="SiteOrderDoesHaveAdvancedHtmlEditor" />
                                                <label for="SiteOrderDoesHaveAdvancedHtmlEditor"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>سلاید شو</label> - <a href="#">(سلاید شو چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveSlideShow" name="SiteOrderDoesHaveSlideShow" />
                                                <label for="SiteOrderDoesHaveSlideShow"></label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>

                        </li>

                        <li>

                            <div class="wizard-heading">
                                5. امکانات بخش های تشکیل دهنده
                                <span class="fa fa-gears"></span>
                            </div>

                            <div class="wizard-content">
                                <div class="row wizard-inner-content">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت تگ گذاری</label> - <a href="#">(قابلیت قابلیت تگ گذاری شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesSupportTagging" name="SiteOrderDoesSupportTagging" />
                                                <label for="SiteOrderDoesSupportTagging"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت دسته بندی</label> - <a href="#">(قابلیت دسته بندی شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesSupportCategory" name="SiteOrderDoesSupportCategory" />
                                                <label for="SiteOrderDoesSupportCategory"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت کامنت گذاری</label> - <a href="#">(قابلیت کامنت گذاری شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveCommenting" name="SiteOrderDoesHaveCommenting" />
                                                <label for="SiteOrderDoesHaveCommenting"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت امتیاز دهی</label> - <a href="#">(قابلیت امتیاز دهی شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveRatinging" name="SiteOrderDoesHaveRatinging" />
                                                <label for="SiteOrderDoesHaveRatinging"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت خبرنامه</label> - <a href="#">(قابلیت خبرنامه شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveNewsLetter" name="SiteOrderDoesHaveNewsLetter" />
                                                <label for="SiteOrderDoesHaveNewsLetter"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت فید خوان</label> - <a href="#">(قابلیت فید خوان شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveFeed" name="SiteOrderDoesHaveFeed" />
                                                <label for="SiteOrderDoesHaveFeed"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت پخش ویدئو</label> - <a href="#">(قابلیت پخش ویدئو شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesVideoPlaying" name="SiteOrderDoesVideoPlaying" />
                                                <label for="SiteOrderDoesVideoPlaying"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت فوروم</label> - <a href="#">(قابلیت فوروم شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveForum" name="SiteOrderDoesHaveForum" />
                                                <label for="SiteOrderDoesHaveForum"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت جستجو</label> - <a href="#">(قابلیت جستجو شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveSearch" name="SiteOrderDoesHaveSearch" />
                                                <label for="SiteOrderDoesHaveSearch"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نوع جستجو</label> - <a href="#">(امکان جستجو چه انواعی دارید و چه تاثیری رو سایت میگذارد؟)</a>
                                        </div>

                                        <div class="col-md-6">

                                            <select class="selectpicker" asp-for="SiteOrderSearchType">
                                                <option value="">لطفا نوع جستجو را انتخاب کنید</option>
                                                <option value="Standard">استاندارد</option>
                                                <option value="Advanced">پیشرفته</option>
                                                <option value="Enterprise">تجاری</option>
                                            </select>

                                        </div>
                                    </div>


                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>

                        </li>

                        <li>

                            <div class="wizard-heading">
                                6. امکانات اضافه
                                <span class="fa fa-plus-square"></span>
                            </div>


                            <div class="wizard-content">
                                <div class="row wizard-inner-content" style="height: 554px;">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از گوگل مپ</label> - <a href="#">(گوگل مپ چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseGoogleMap" name="SiteOrderDoesUseGoogleMap" />
                                                <label for="SiteOrderDoesUseGoogleMap"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از گوگل آنالیتیک</label> - <a href="#">(گوگل آنالیتیک چیست و چه امکانی به شما میدهد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseGoogleAnalytics" name="SiteOrderDoesUseGoogleAnalytics" />
                                                <label for="SiteOrderDoesUseGoogleAnalytics"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>راه اندازی سوشال مدیا</label> - <a href="#">(راه اندازی سوشال مدیا شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesUseSocialMedia" name="SiteOrderDoesUseSocialMedia" />
                                                <label for="SiteOrderDoesUseSocialMedia"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از چارت</label> - <a href="#">(استفاده از چارت چطور باعث مشاهده بهتر اطلاعات آماری می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeChart" name="SiteOrderDoesIncludeChart" />
                                                <label for="SiteOrderDoesIncludeChart"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>استفاده از چارت دینامیک</label> - <a href="#">(تفاوت چارت دینامیک با چارت معمولی چیست؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeDynamicChart" name="SiteOrderDoesIncludeDynamicChart" />
                                                <label for="SiteOrderDoesIncludeDynamicChart"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>قابلیت گزارش گیری پیشرفته</label> - <a href="#">(قابلیت گزارش گیری پیشرفته شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeAdvancedReport" name="SiteOrderDoesIncludeAdvancedReport" />
                                                <label for="SiteOrderDoesIncludeAdvancedReport"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>اضافه کردن هزینه هاست و دامین</label> - <a href="#">(هاست و دامین چیست و هزینه آنها حدودا چقدر است؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesIncludeDomainAndHosting" name="SiteOrderDoesIncludeDomainAndHosting" />
                                                <label for="SiteOrderDoesIncludeDomainAndHosting"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ساپورت بعد از تحویل</label> - <a href="#">(ساپورت بعد از تحویل شامل جه مواردی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesSupportIncluded" name="SiteOrderDoesSupportIncluded" />
                                                <label for="SiteOrderDoesSupportIncluded"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>بخش سوالات تکراری</label> - <a href="#">(بخش سوالات تکراری چه سودی دارد؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveFaq" name="SiteOrderDoesHaveFaq" />
                                                <label for="SiteOrderDoesHaveFaq"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>فوتر پیشرفته</label> - <a href="#">(فوتر پیشرفته چیست و شامل چه امکاناتی می شود؟)</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="SiteOrderDoesHaveComplexFooter" name="SiteOrderDoesHaveComplexFooter" />
                                                <label for="SiteOrderDoesHaveComplexFooter"></label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <button class="btn-green done" type="button">ادامه</button>
                            </div>


                        </li>

                        <li>

                            <div class="wizard-heading">
                                7. محاسبه قیمت و ثبت
                                <span class="fa fa-money"></span>
                            </div>

                            <div class="wizard-content">

                                <div class="row wizard-inner-content" style="height: 762px;">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <input asp-for="SiteOrderFullName" placeholder="نام و نام خانوادگی" class="form-control input-lg" />
                                            <span asp-validation-for="SiteOrderFullName" class="text-danger"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <input asp-for="SiteOrderEmail" placeholder="ایمیل" class="form-control input-lg" />
                                            <span asp-validation-for="SiteOrderEmail" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <input asp-for="SiteOrderPhone" placeholder="شماره تماس" class="form-control input-lg" />
                                            <span asp-validation-for="SiteOrderPhone" class="text-danger"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <input asp-for="SiteOrderTimeToDeliverMonth" placeholder="فرجه زمانی به ماه" class="form-control input-lg" />
                                            <span asp-validation-for="SiteOrderTimeToDeliverMonth" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <select asp-for="SiteOrderHowFindUs" class="form-control input-lg" placeholder="طریقه اشنایی با ما">
                                                <option value="">لطفا طریقه آشنایی را انتخاب کنید</option>
                                                <option value="موتورهای جستجو">موتورهای جستجو</option>
                                                <option value="دوستان و آشنایان">دوستان و آشنایان</option>
                                                <option value="مشتریان قبلی ما">مشتریان قبلی ما</option>
                                                <option value="شبکه های اجتماعی">شبکه های اجتماعی</option>
                                                <option value="ایمیل های تبلیغاتی">ایمیل های تبلیغاتی</option>
                                            </select>
                                            <span asp-validation-for="SiteOrderHowFindUs" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea asp-for="SiteOrderExample" rows="5" placeholder="نمونه کارهای مشابه" class="form-control input-lg"></textarea>
                                                <span asp-validation-for="SiteOrderExample" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea asp-for="SiteOrderDesc" rows="10" placeholder="توضیحات" class="form-control input-lg"></textarea>
                                                <span asp-validation-for="SiteOrderDesc" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <button class="btn-green" style="width: 100%;" id="calculateFinalPriceAndSubmit">ثبت و محاسبه</button>

                            </div>

                        </li>

                    </ul>

                </form>

            </div>

            <div class="modal fade" id="FinalPriceModal" tabindex="-1" role="dialog" aria-labelledby="FinalPriceModal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="FinalPriceModal-label">هزینه نهایی <span id="FinalPriceModalSpan"></span></h4>
                        </div>

                        <div class="alert alert-success alert-dismissable" id="successAlert" style="display: none;">
                            سفارش شما با موفقیت ثبت شد، جزئیات سفارش خود را میتوانید در قالب یک فایل اکسل دریافت کنید.
                        </div>

                        <div class="alert alert-warning alert-dismissable" id="faileAlert" style="display:none;">
                            مشکلی در ثبت سفارش پیش آمده، سفارش شما با موفقیت ثبت نشد، لطفا دوباره تلاش کنید.
                        </div>

                        <div class="modal-body" style="height:600px; overflow-y:scroll;">
                            <table class="table table-responsive table-striped table-hover" id="siteOrderTable">

                                <thead>
                                    <tr>
                                        <td>
                                            امکانات
                                        </td>
                                        <td>
                                            مقدار انتخابی
                                        </td>
                                        <td>
                                            قیمت
                                        </td>
                                    </tr>
                                </thead>

                                <tbody id="PriceSheetTable"></tbody>

                            </table>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
                            <button type="button" onclick="$('#siteOrderTable').tableExport({ type: 'excel', escape: 'false' });" class="btn btn-success">استخراج در قالب اکسل</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>
</section>

<section class="yellow-stripes-section-wrapper">
    <section class="content-section no-padding-top no-padding-bottom">
        <div class="text-center">
            <img alt="Download the cheat sheet now!" src="~/images/site-order/website-cost-cta-image.png">
            <br />
            <p style="font-size: larger;">
                <span style="font-size: xx-large;">لیست قیمت ها</span> را از اینجا دریافت کنید.
            </p>
            <p style="font-size: large;">این لیست حاوی جزئیات سرویس و قیمت نهایی برای پیاده سازی آن است.</p>
            <div class="website-cost-download-cta-btn">
                <a class="btn btn-lg btn-default" style="width: 200px;" href="#"><span class="fa fa-download"></span> &nbsp;دانلود!</a>
            </div>
        </div>
    </section>
</section>

<article class="main">
    <section class="content-section">

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2 text-center">
            <h2>آیا نوع وب سایت هم در قیمت آن تاثیر گذار است؟</h2>

            <p>وب سایت ها را می تواند بر اساس نوع آنها نیز طبقه بندی کرد، انواع مختلف وب سایت می توانند پیچیدگی های متفاوت و در نتیجه قیمت های متفاوتی داشته باشند، ولی دسته بندی وب سایت ها به این صورت در دسته های مختلف لزوما نیاز شما را تشریح نمیکند، از اینرو ما پیشنهاد میکنیم برای محاسبه قیمت از نرم افزار محاسبه گر استفاده کنید، اگر خلاصه ای از فاکتورهای اثر گذار بر روی قیمت می خواهید، جدول زیر میتواند به شما کمک کند.</p>

            <p>در زیر می توانید خلاصه ای از انواع مختلف وب سایت و قیمت های تقریبی آنها مشاهده نمایید.</p>

        </div>

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2" style="padding-bottom: 20px;}">

            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های داده محور و کوچک</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 16 تا 30 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>فاقد بانک اطلاعاتی</li>
                    <li>امکانات تخصصی ابتدایی</li>
                    <li>فاقد ساپورت</li>
                    <li>فاقد صفحات مدیریتی، تمام صفحات استاتیک</li>
                    <li>زمان مورد نیاز برای انجام: از 10 تا 30 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>1,000,000 - <span class="smaller-copy">تومان</span>3,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های شرکتی و اداری</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 30 تا 75 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>دارای بانک اطلاعاتی</li>
                    <li>امکانات تخصصی ابتدایی</li>
                    <li>ساپورت دو ماهه</li>
                    <li>صفحات مدیریتی برای مطالب</li>
                    <li>زمان مورد نیاز برای انجام: از 30 تا 60 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>3,000,000 - <span class="smaller-copy">تومان</span>6,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های تجاری و فروشگاه</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 100 تا 1000 صفحه</li>
                    <li>قالب از پیش ساخته شده</li>
                    <li>دارای بانک اطلاعاتی</li>
                    <li>امکانات تخصصی متوسط</li>
                    <li>ساپورت شش ماهه</li>
                    <li>درگاه پرداخت، صفحات مدیریت کالا</li>
                    <li>زمان مورد نیاز برای انجام: از 60 تا 120 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>6,000,000 - <span class="smaller-copy">تومان</span>10,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>وب سایت های پیشرفته با امکانات متنوع</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>از 200 تا 2000 صفحه</li>
                    <li>ساخت قالب از ابتدا</li>
                    <li>دارای بانک اطلاعاتی پیشرفته</li>
                    <li>امکانات تخصصی پیشرفته</li>
                    <li>ساپورت دو ساله</li>
                    <li>صفحات مدیریتی پیشرفته</li>
                    <li>زمان مورد نیاز برای انجام: از 120 تا 180 روز</li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">تومان</span>10,000,000 - <span class="smaller-copy">تومان</span>20,000,000</li>
                </ul>
                @*<a class="btn btn-bg btn-success" href="/Free-Quote.php">ثبت سفارش<span class="icon-arrow-down5"></span></a>*@
            </div>

        </div>

    </section>
</article>

<section id="recent-works" style="background-color:#FCCE00;">
    @await Component.InvokeAsync("HomePortfolioSlider")
</section>

<section class="white-section-wrapper">
    <section class="content-section" id="cost-breakdowns">

        <div class="col-sm-6 col-sm-offset-3">
            
            <h2 class="text-center">جزیات برخی از هزینه های متداول در زمان راه اندازی وب سایت</h2>

            <p>هزینه ساخت یک وب سایت می تواند تحت تاثیر فاکتورهای زیادی قرار گیرد، همان طور که می دانید یک وب سایت با امکانات ابتدایی هزینه خیلی کمتری برای ساخت و پیشتیبانی دارد، در این بخش ما بخشی از هزینه های متداول یک وب سایت را تشریح می کنیم، برخی از اجزا فقط در زمان شروع یک وب سایت هزینه بر هستند و برخی از آنها در طول تمام عمر وب سایت برای شما هزینه خواهند داشت، ما این بخش را دائم به روز رسانی خواهیم کرد تا قیمت های لیست شده در اینجا مطابق با آخرین قیمت های روز بازار باشند.</p>

        </div>

        <div id="filterContainer" class="col-sm-6 col-sm-offset-3">

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all domain-name">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">نام دامنه</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>دامنه وب سایت شما آدرسی است که شما برای ورود به یک وب سایت از آن استفاده میکنید، که از این لحاظ مانند اثر انگشت انلاین شماست، و با ثبت یک آدرس آدرسی مانند آن قابل ثبت نیست. شما هر سال باید بابت نام دامنه پول پول پرداخت کنید که این هزینه به هزینه های دیگر سایت اضافه می شود. نام دامنه شما برای موفقیت وب سایت شما مهم است چون نمایندگی کننده محتوای وب سایت شماست، یک نام خوب میتواند به جذب بازدید کننده کمک کند و به اعتبار نام و محصول شما بیفزاید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 6,000 تا 50,000 تومان در سال</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all website-hosting">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">وب هاست</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وب هاست جایی است که فایل های وب سایت شما را در خود جای میدهد تا بقیه به آن دسترسی داشته باشند، فضایی که وب سایت شما احتیاج دارد بر روی سرور شرکت ارائه دهنده اینگونه سرویس ها قرار میگیرد، و هرکس از وب سایت شما بازدید کرد سرور صفحه مورد نظر را به درخواست کننده میدهد. جایی که وب سایت شما هاست می شود مهم است چون اگر وب هاست شما از کیفیت پایینی برخوردار باشد سرعت صفحات وب سایت شما میتواند کند شود، یا اگر اینترنت سرور کیفیت مناسبی نداشته باشد سایت شما از دسترس خارج میشود، نکته اینکه وب هاستی که انتخاب میکنید اهمیت زیادی در ارائه یک سرویس با کیفیت برای مشتریانتان دارد، ما در این قسمت وب هاست های ایرانی را با هم مقایسه کردیم، و تصمیم را برای انتخاب یکی از آنها بر عهده شما گذاشتیم.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 70,000 تا 800,000 تومان در سال</span></p>

                </div>

            </div>

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all cms">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">مدیریت محتوا</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>منظور از مدیریت محتوا نرم افزارهایی هستند که به شما اجازه میدهند بدون دست بردن در سورس کد سایت مطالب جدید ارسال و یا مطالب قبلی را ویرایش کنید و ساختار سایت را تغییر دهید، نرم افزار های مدیریت محتوا میتوانند از ابتدا بر اساس نیاز کاربر نوشته شوند و یا میتوان از نرم افزارهای مدیریت محتوای آماده استفاده کرد، که این نرم افزارها نیز به دو دسته رایگان و غیر رایگان تقسیم می شوند، نرم افزارهای مدیریت محتوای آماده معمولا هزینه کمتری برای راه اندازی احتیاج دارند ولی انعطاف لازم را ندارند و اگر خواستید چیزی به آن اضافه کنید باید آن را در چهار چوب آن نرم افزار مدیریت محتوا انجام دهید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 1,000,000 تا 10,000,000 تومان</span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--red all ecommerce">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">وب سایت های فروشگاهی و ای کامرس</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وب سایت های دارای فروشگاه نوع دیگری از وب سایت هستند که قابلیت اتصال به درگاه بانک و پرداخت از سوی کاربر در آنها وجود دارد، ولی این تنها امکان یک وب سایت ای کامرس یا فروشگاه نیست، ولی یکی از مهمترین هاست، صدور فاکتور، مدیریت سید خرید و غیره از دیگر امکانات یک وب سایت ای کامرس است، هزینه اصلی اینگونه وب سایت ها با اینکه کار ساخت آنها میتواند پیچیده باشد بیشتر نهفته در اطمینان از دست کار کردن آنها، قبل از اینکه وب سایت آماده استفاده باشد باید مطمئن شد تمام اجزای فروشگاه آن طوری که باید کار کند کار میکند، در غیر اینصورت باعث ضرر خریدار و فروشنده خواهد شد، وب سایت هایی که دارای امکان فروشگاه هستند میتوانند امکانات متنوعی داشته باشند، و طبیعتا با توجه به امکانات آنها هزینه آنها زیر افزایش پیدا میکند.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 1,000,000 تا 10,000,000 تومان </span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all design-theme">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">دیزاین شکل ظاهری و قالب سایت</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>وقتی پای طراحی ظاهر و دیزاین یک وب سایت به میان می آید، طراحی می تواند از سطح خیلی پایین تا بالاترین حد ممکن پیش رود، در هر دو صورت وب سایت شما و المنت های پایه ای آن کار میکنند، ولی ظاهر زیبایی ندارند، و این خود مشکل بزرگی است، چون هرچقدر هم زیر ساخت های توسعه ای سایت شما قوی باشد، مشتریان شما اولین چیزی را که خواهند دید شکل ظاهری سایت شماست. شکل ظاهری سایت شما می تواند بازدید کنندگان شما را جذب خود کند، و باعث رونق تجارت یا بازدید بیشتر سایت شما شود، یا می تواند اثر عکس را داشته باشد. در این بین برای پایین آمدن هزینه ها می توان از قالب های پیش ساخته شده استفاده کرد، ولی قالب های از پیش ساخته شده چون توسط یک وب دیزاینر از ابتدا ساخته نشده اند، انعطاف کافی را ندارند و ایجاد تغییر در آنها سخت تر است. نکته مهم دیگر تفاوت میان وب دیزاینر و وب دولوپر است، شما در اینجا می توانید در مورد تفاوت میان این دو بخوانید، برای گرفتن بهترین نتیجه ممکن برای طراحی ظاهر یک سایت شما به یک وب دیزاینر احتیاج دارید.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 500,000 تا 2,000,000 تومان</span></p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all seo">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">سئو</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>برای جذب بیشترین بازدید کننده سایت شما باید برای موتورهای جستجو بهینه سازی شود، این بهینه سازی می تواند دو نوع باشد، بهینه سازی زمان ساخت، یعنی توسعه گر باید به کد ها، تگ ها و ساختاری که در سایت به کار می برد دقت کند تا مطابق با چیزی باشند که موتورهای جستجو انتظار آن را دارند که به آن بهینه سازی تحت صفحه می گویند، نوع دیگر بهینه سازی که از بهینه سازی که پیش از این مطرح شد سخت تر است، شامل تحقیق در مورد کیبورد های محبوب برای وب سایت شماست، به طور مثال اگر وب سایت شما در زمینه فروش کیف فعالیت میکند، بهینه ساز باید یک لیست از کلماتی که مشتری های بالقوه شما ممکن است آن را جستجو کنند تهیه کند، و شروع کند آن کیبورد ها را در پست هایی که شما در سایت خود ارسال میکند به کار ببرد، این فقط یک نمونه از کاری که باید انجام شود بود، منظور اینکه هزینه های مربوط به سئو می توانند از هزینه ابتدایی بهینه سازی تحت صفحه شروع شوند تا بهینه سازی کامل تمام جنبه های یک وب سایت برای موتورهای جستجو، نوع اول این بهینه سازی فقط در زمان ساخت سایت هزینه دارد، ولی نوع دوم هزینه آن ماهانه است، چون به دست آوردن امتیاز در موتورهای جستجو طی یک روز یا یک هفته امکان پذیر نیست.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 500,000 تومان تا 1,000,000 تومان در ماه</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all database">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">بکارگیری بانک اطلاعاتی</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>به کارگیری بانک اطلاعاتی در پروسه ساخت یک وب سایت می تواند شما را از تغییر فایل های مربوط به وب سایت برای ایجاد محتوای جدید بی نیاز کند، پیچیدگی به کار گیری بانک اطلاعاتی در وب سایت میتواند سطح های مختلفی داشته باشد، به طور مثال وب سایتی که از قبل بانک اطلاعاتی سازمانی به هزاران رکورد را در خورد دارد و می خواهد این بانک اطلاعاتی را در یک فروشگاه به کار ببرد هزینه بیشتری نیست به فروشگاهی یا سایتی که از ابتدا با بانک اطلاعاتی جدید شروع به کار میکند دارد، نسبت به پیچیدگی کار هزینه ای که بر روی نگهداری بانک اطلاعاتی می شود میتواند متغییر باشد، ذکر این نکته خالی از لطف نیست که بانک اطلاعاتی میتواند مهمترین بخش یک سیستم باشد، پس هزینه کردن برای نگهداری آن ضروری است.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 300,000 تومان تا 2,000,000 تومان</p>

                </div>

            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all maint">

                <div class="website-cost-breakdown-heading clearfix">

                    <div class="website-cost-breakdown-dollar pull-right">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>

                    <h4 class="pull-right" style="padding-right:5px;">پشتیبانی بعد از تحویل</h4>

                </div>

                <div class="website-cost-breakdown-info">

                    <p>پشتیبانی یک سایت به توجه به سرویسی که شما برای پشتیبانی انتخاب کرده اید شامل بخش های مختلفی می شود، برخی از این سرویس ها شامل به روز رسانی وب سایت شما با آخرین آپدیت نرم افزاری که در آن استفاده شده، اطمینان از اینکه هاستی که نرم افزار شما بر روی آن میزبانی می شود درست کار میکند، تغییر های مختصر در نحوه کارکرد سایت شما طوری که یک مکان جدید به حساب نیاید، اطمینان از اینکه وب سایت شما زمانی که هکری در حال حمله کردن به سایت است هنوز درست کار میکند و به مشتریان و بازدید کنندگان شما سرویس میدهد و اقلامی از این دست، پشتیبانی یک سایت امر بسیار مهمی است چون اتفاقات بسیاری ممکن است رخ دهد که می تواند وب سایت شما را از کار بیندازد که مستقیما به سازنده سایت که ما باشیم ارتباط ندارد، ما با توجه به سرویسی که برای پشتیبانی انتخاب میکنید در همه یا برخی از مسائل فوق نظارت خواهیم داشت.</p>

                    <p class="website-cost-breakdown-cost">هزینه: از 200,000 تا 1,000,000 تومان در سال</span></p>

                </div>

            </div>


        </div>

    </section>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.partofpage.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/tableexport/jquery.base64.utf8.js"></script>
    <script src="~/lib/tableexport/tableexport.js"></script>
    <script src="~/js/webforscripts/siteorder.index.js"></script>
}