@model WebFor.Web.ViewModels.SiteOrder.SiteOrderViewModel

@{
    ViewData["Title"] = "سفارش وبسایت";
}

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-smart-wizard/smart_wizard.css" rel="stylesheet" />
    <link href="~/css/site-order.css" rel="stylesheet" />
    <link href="~/css/site-order-wizard.css" rel="stylesheet" />
}

@if (TempData["CreateContactMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["CreateContactMessage"]</h4>
        </div>
    </p>
}

<section id="title" class="emerald" style="background-image: url(/images/site-order/bg-masthead-website-cost.jpg); height: 424px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">سفارش وبسایت</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12  text-center">
                <h1>ساخت یک وب سایت این روزها چقدر خرج دارد؟</h1>

                <br />
                <br />


                <p>در این قسمت می توانید وب سایت مورد نیاز خود را سفارش دهید و از قیمت تخمینی آن با خبر شوید.</p>
                <p>در این قسمت می توانید وب سایت مورد نیاز خود را سفارش دهید و از قیمت تخمینی آن با خبر شوید.</p>
                <p>در این قسمت می توانید وب سایت مورد نیاز خود را سفارش دهید و از قیمت تخمینی آن با خبر شوید.</p>

                <br />
                <br />

                <a href="#" class="btn btn-lg btn-info">خواندن ادامه متن <span class="fa fa-angle-down"></span></a>
                <a href="#" class="btn btn-lg btn-success">استفاده از محاسبه گر قیمت ما</a>
            </div>
        </div>

    </div>
</section>

<section class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <p>But why not? Questions about website design cost are common online, but very few people are prepared to answer, even when it comes to professional web design prices.</p>
        <p>
            For this article, the WebpageFX team of professional web designers, developers, and <a href="http://www.webpagefx.com/search-engine-optimization.htm">SEO specialists</a> have worked together to examine some of the most important factors that go into a web design quote. These include historical website development costs, as well as <a href="websitedesign.htm">web design costs for different components</a>. The data also includes current website features and design costs.
        </p>
        <p>It can still be a challenge to nail down a specific professional website cost. That's why we made a website quote calculator that you can use to ballpark prices for websites you want to create.</p>
        <p>Our website cost calculator can help you determine how much you should expect to pay for a site with the functions and features you want. Use the sliders to select the features you prefer, then click "get your quote now" and the cost estimator will generate a quote instantly!</p>
    </div>
</section>

<section class="website-cost-calculator" id="calculator" style="padding-bottom:0;">
    <h2 class="website-cost-calculator-header">Get an Instant Website Quote with Our Web Design Calculator</h2>
    <section class="masthead masthead--website-cost-calculator">
        <section class="masthead__content-wrapper content-section">

            <div id="show_form" class="row">

                <ul class="payment-wizard list-unstyled">


                    <li class="active">
                        <div class="wizard-heading">
                            1. اطلاعات پایه
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>


                    <li>
                        <div class="wizard-heading">
                            2. اطلاعات سرور
                            <span class="fa fa-server"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>


                    <li>
                        <div class="wizard-heading">
                            3. اطلاعات تخصصی
                            <span class="fa fa-lightbulb-o"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>

                    <li>
                        <div class="wizard-heading">
                            4. اطلاعات آماری
                            <span class="fa fa-line-chart"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>

                    <li>
                        <div class="wizard-heading">
                            5. اطیاعات ساختاری
                            <span class="fa fa-institution"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>

                    <li>
                        <div class="wizard-heading">
                            6. اطلاعات سازمانی
                            <span class="fa fa-clock-o"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green done">ادامه</button>
                        </div>
                    </li>


                    <li>
                        <div class="wizard-heading">
                            7. قیمت نهایی
                            <span class="fa fa-money"></span>
                        </div>
                        <div class="wizard-content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button class="btn-green" type="submit">ثبت</button>
                        </div>
                    </li>


                </ul>


            </div>
        </section>
    </section>
</section>

<section class="yellow-stripes-section-wrapper">
    <section class="content-section no-padding-top no-padding-bottom">
        <div class="text-center">
            <img alt="Download the cheat sheet now!" src="~/images/site-order/website-cost-cta-image.png">
            <br />
            <p style="font-size: larger;">
                <span style="font-size: xx-large;">لیست قیمت ها</span> را از اینجا دریافت کنید.
            </p>
            <p style="font-size: large;">این لیست حاوی جزئیات سرویس و قیمت نهایی برای پیاده سازی آن است.</p>
            <div class="website-cost-download-cta-btn">
                <a class="btn btn-lg btn-default" style="width: 200px;" href="#"><span class="fa fa-download"></span> &nbsp;دانلود!</a>
            </div>
        </div>
    </section>
</section>

<article class="main">
    <section class="content-section">

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2 text-center">
            <h2>Does the Cost of a Website Vary by Its Type?</h2>
            <p>To completely answer the question "how much should a web site cost," it's also useful to review specific website types. The cost of a new site absolutely varies by its type! Generally, the more involved your website has to be, the bigger impact you'll see on your website pricing. For example, you should expect to pay more for a site with ecommerce functionality than a site without it. This is because more time and effort will need to be spent populating product pages, adding images, testing the shopping cart, and so on.</p>
            <p>Here are some estimates for specific kinds of websites and how much you should expect to pay for them.</p>
        </div>

        <div class="small-pricing-tables col-sm-8 col-sm-offset-2">


            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>Informational or Small Business Website</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>8 - 16 web pages</li>
                    <li>Custom graphics</li>
                    <li>Stock photos</li>
                    <li>Little or no Flash design</li>
                    <li>Web forms sending to email accounts</li>
                    <li>Project duration: 30 to 75 days </li>
                    <li>Project duration: 30 to 75 days </li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">$</span>2,000 - <span class="smaller-copy">$</span>6,000</li>
                </ul>
                <a class="btn btn-bg btn-success" href="/Free-Quote.php">Get a Quote <span class="icon-arrow-down5"></span></a>
            </div>



            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>Informational or Small Business Website</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>8 - 16 web pages</li>
                    <li>Custom graphics</li>
                    <li>Stock photos</li>
                    <li>Little or no Flash design</li>
                    <li>Web forms sending to email accounts</li>
                    <li>Project duration: 30 to 75 days </li>
                    <li>Project duration: 30 to 75 days </li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">$</span>2,000 - <span class="smaller-copy">$</span>6,000</li>
                </ul>
                <a class="btn btn-bg btn-success" href="/Free-Quote.php">Get a Quote <span class="icon-arrow-down5"></span></a>
            </div>



            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>Informational or Small Business Website</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>8 - 16 web pages</li>
                    <li>Custom graphics</li>
                    <li>Stock photos</li>
                    <li>Little or no Flash design</li>
                    <li>Web forms sending to email accounts</li>
                    <li>Project duration: 30 to 75 days </li>
                    <li>Project duration: 30 to 75 days </li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">$</span>2,000 - <span class="smaller-copy">$</span>6,000</li>
                </ul>
                <a class="btn btn-bg btn-success" href="/Free-Quote.php">Get a Quote <span class="icon-arrow-down5"></span></a>
            </div>



            <div class="small-pricing-table center">
                <div class="small-pricing-table-heading">
                    <h4>Informational or Small Business Website</h4>
                </div>
                <ul class="small-pricing-table-info  list-unstyled">
                    <li>8 - 16 web pages</li>
                    <li>Custom graphics</li>
                    <li>Stock photos</li>
                    <li>Little or no Flash design</li>
                    <li>Web forms sending to email accounts</li>
                    <li>Project duration: 30 to 75 days </li>
                    <li>Project duration: 30 to 75 days </li>
                    <li class="cost sans-serif--bold"><span class="smaller-copy">$</span>2,000 - <span class="smaller-copy">$</span>6,000</li>
                </ul>
                <a class="btn btn-bg btn-success" href="/Free-Quote.php">Get a Quote <span class="icon-arrow-down5"></span></a>
            </div>



        </div>

    </section>
</article>

<section id="recent-works" style="background-color:#FCCE00;">
    @await Component.InvokeAsync("HomePortfolioSlider")
</section>

<section class="white-section-wrapper">
    <section class="content-section" id="cost-breakdowns">

        <div class="col-sm-6 col-sm-offset-3">
            <h2>Breakdown of Some Common Website Components and Their Costs</h2>
            <p>The cost of a website can vary dramatically based on the specific components included. As you can probably guess, a website with basic functionality is going to cost much less, both initially and over time, than a site that acts as an online store or integrates with a company database or piece of software.</p>
            <p>This section will break down some common website components and how much you should expect to pay for them. Some of the components in this website cost breakdown have initial investments, while others are ongoing. We frequently update this page to ensure that the amounts listed below are current and fit into the average cost of website design for 2016.</p>
        </div>

        <div id="filterContainer" class="col-sm-6 col-sm-offset-3">

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all domain-name">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Domain Name</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Your website’s domain name is the unique name that appears in the URL for your website. It’s kind of like your online fingerprint &mdash; it is specific to you. Although other websites may have domain names similar to it, your domain name is yours alone. However, to get the rights to your domain name, you have to register it annually, which factors into the cost of website maintenance.</p>
                    <p>Your domain name is important because it creates an online identity for your website. Having a domain name establishes credibility with site visitors and potential customers while helping you further grow your brand. It is also important because if you ever change your hosting, your domain name will go with you. Lastly, your domain name is important because it expands your opportunities for online advertising, which has become necessary for attracting traffic to today’s websites. </p>
                    <p class="website-cost-breakdown-cost">Cost: $5 to $15 per year</p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all website-hosting">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Website Hosting</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Hosting is simply the service that allows your website to be accessed by other Internet users. A web host will provide space on its server for your website, allowing people around the world to view it. Website hosting is also a factor in your website costs.</p>
                    <p>Hosting is important because the quality of your host can affect page loading time, the tech support you receive if your site crashes, and the ability of your website to expand in the future. To put it simply, your hosting provider has a huge impact on how your website functions. Although free hosting services exist, their tech support (if they supply any at all) will not be as good as paid hosting services. </p>
                    <p class="website-cost-breakdown-cost">Cost: $75 to $200 a year <span class="small-copy">(depending on traffic and hosting features)</span></p>
                </div>
            </div>

            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all cms">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Content Management System <span class="small-copy">(CMS)</span></h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>A CMS will allow you or your employees to edit information on your website without having to edit any of the code or mess with any of the files you already have in place. A CMS makes it extremely easy for you to adjust the little things here and there just in case you need to add something later or if you want full control of what is shown on your website.</p>
                    <p>A CMS like Magento may be free, while others may have monthly or yearly licensing fees or usage charges associated with them. What you choose depends on what specific functionality you need your website to have. Choosing a free option may limit you, but it'll also help save on web page prices.</p>
                    <p class="website-cost-breakdown-cost">Cost: $0 to $15,000+ per year <span class="small-copy">(depending on the platform chosen)</span></p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--red all ecommerce">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Ecommerce Functionality</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Ecommerce is another moving part for websites that might require a major effort in overall design and development to make it functional. The addition of ecommerce functionality requires extensive testing of shopping carts, payment options, and shipping systems, as well as the time spent setting up products and ensuring their individual pages display correctly to shoppers.</p>
                    <p>Typically, there is no extra cost to add ecommerce functionality. The expense comes from the amount of time it takes to ensure every component is working, the acquisition of a payment gateway, and any additional effort you may require to integrate your store with shipping or tracking systems hosted elsewhere. While it may only require a single payment on your part, ecommerce inclusion can have a big effect on the cost of a web site.</p>
                    <p class="website-cost-breakdown-cost">Cost: $500 to $5,000 <span class="small-copy">(initial investment)</span></p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all design-theme">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Website Design or Theme Creation</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Design can go from a zero budget all the way to world class quality, meaning the fees for website design can heavily impact web page price. Obviously, a zero budget style of design will not look as good, and a world class design will certainly be eye catching and perhaps even award winning. It all depends what you would like your website to look like and the desires of your target audience.</p>
                    <p>For some CMS, like Wordpress, creating a website design is as simple as creating a theme or "skin" to apply to your site. This may cost far less than a created-from-scratch design for another CMS, but it may also look less unique and lack some functionality. Website designing costs will be higher for the unique, from-scratch sites, but they'll also distinctly reflect you and your business.</p>
                    <p class="website-cost-breakdown-cost">Cost: $250 to $20,000+ <span class="small-copy">(initial investment)</span></p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all copywriting">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Copywriting</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Copywriting goes back to the number of pages your website has. The more pages it will have, the more copywriting it will need, making copywriting an unexpected factor to website creation cost for many first-time webmasters.</p>
                    <p>Copywriting ties into search engine optimization (SEO): The content on your website needs to contain the keywords relevant to your products or services, because if it doesn't, your site won't be found in search for those terms. It takes a trained writer with knowledge of SEO to create copy that contains the right keywords and compels your visitors to take action. Some of the bigger content pieces may add more to your website creation costs than you'd like, but content is king &mdash; and it pays dividends.</p>
                    <p class="website-cost-breakdown-cost">Cost: $50 to $500 per page or article</p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--orange all seo">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>SEO</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>To attract the most visitors as possible, you must fully optimize your website for search engines. SEO services can range from very inexpensive to thousands of dollars per month, depending on how much work you want your agency to put into the ranking and visibility of your new site. After it's designed and developed, make sure you include SEO in your costs of a website to make sure your estimate is as accurate as possible.</p>
                    <p>
                        SEO services typically include multiple ongoing methods and tactics. For example, <a href="http://www.webpagefx.com/SEO-Pricing.html">WebpageFX's SEO packages</a> include optimization of website copy, keyword research, targeted outreach, link building, content creation, and more. The money you invested in your professional web design cost won't mean much if visitors can't find your site, and SEO is critical to making your site visible.
                    </p>
                    <p class="website-cost-breakdown-cost">Cost: $300 to $1,500 per month</p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--red all flash">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Flash or Multimedia Design</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Whether you desire to have an interactive and eye-catching demo for your website or you just want an interesting header, multimedia design is what you need. Flash website design pricing varies from firm to firm, but the investment can give your website an invaluable element that engages visitors.</p>
                    <p>Interactive website design can be very inexpensive, or it can be extremely costly, depending on the functionality of what is being developed. For example, a simple Flash animation may only cost a few hundred dollars, if that, while the creation of an interactive on-site application or tool to visualize colors, patterns, clothing, etc. could cost tens of thousands of dollars to create from scratch. If you want to make a powerful impression on your visitors using Flash, it can become a huge part of the cost of website design and development.</p>
                    <p class="website-cost-breakdown-cost">Cost: $250 to $10,000+ <span class="small-copy">(depending on level of interactivity required)</span></p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--teal all database">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Database Integration</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Database integration can lead to some really cool additions to your website, but a portion of your cost depends on how much development is necessary and how much time it will take to fully implement and test the integration. Integration can be a valuable addition to any online presence, which also makes it an essential consideration in the cost of a new website. Websites that have database integration tend to have a lot more things that can go wrong.</p>
                    <p class="website-cost-breakdown-cost">Cost: $5,000 to $25,000 per integration</p>
                </div>
            </div>


            <div class="website-cost-breakdown-section border-shadow website-cost-breakdown-color--green all maint">
                <div class="website-cost-breakdown-heading clearfix">
                    <div class="website-cost-breakdown-dollar">
                        <div class="website-cost-breakdown-circle">$</div>
                    </div>
                    <h4>Ongoing Website Maintenance</h4>
                </div>
                <div class="website-cost-breakdown-info">
                    <p>Website maintenance is the entire process involved in updating and managing a website once it is online. This includes ensuring that your website’s hardware and software are working well and that your site is up to date with the latest products and features. In general, there are a lot of different elements that can impact how much website maintenance costs.</p>
                    <p>Site maintenance is important because it affects how interested your visitors are in your site, it allows you to maintain your search engine rankings, and it essentially keeps your website functioning. You need to be willing to spend the money to maintain your website after it launches, or else your site will likely fall into disarray and lose any chance of ranking on search engine results pages.</p>
                    <p class="website-cost-breakdown-cost">Cost: $500 to $1250 a year <span class="small-copy">(depending on number of updates required)</span></p>
                </div>
            </div>


        </div>

    </section>
</section>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.partofpage.js"></script>
    <script src="~/js/webforscripts/siteorder.index.js"></script>
}
