@model WebFor.Web.Areas.Admin.ViewModels.Portfolio.PortfolioViewModelEdit

@{
    ViewData["Title"] = "ویرایش پورتفولیو";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/lib/pickday/pikaday.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
}

<form asp-action="Edit" asp-controller="Portfolio" id="PortfolioForm" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.HiddenFor(model => model.PortfolioId)

        <div class="form-group">
            <label asp-for="PortfolioTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PortfolioTitle" class="form-control" />
                <span asp-validation-for="PortfolioTitle" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PortfolioBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="PortfolioBody" cols="16" rows="10" style="max-width: 480px;" class="form-control"></textarea>
                <span asp-validation-for="PortfolioBody" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PortfolioSiteAddress" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="PortfolioSiteAddress" class="form-control" />
                <span asp-validation-for="PortfolioSiteAddress" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PortfolioCategoryList" class="col-md-2 control-label"></label>
            <div class="col-md-3 col-sm-4 col-lg-3 col-xs-10">

                <select asp-for="PortfolioCategoryList" class="selectpicker show-menu-arrow" multiple>
                    <option value="ASP-NET-MVC">ASP.NET MVC</option>
                    <option value="ASP-NET-Core">ASP.NET Core</option>
                    <option value="Bootstrap">Bootstrap</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="jQuery">jQuery</option>
                    <option value="UnderscoreJs">UnderscoreJs</option>
                    <option value="Angular">Angular</option>
                    <option value="NodeJs">NodeJs</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="WordPress">WordPress</option>
                    <option value="Blogger">Blogger</option>
                </select>

                <span asp-validation-for="PortfolioCategoryList" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PortfolioDateBuilt" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="PortfolioDateBuilt" type="date" class="form-control" />
                <span asp-validation-for="PortfolioDateBuilt" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PortfolioThumbnailFile " class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="PortfolioThumbnailFile" type="file" accept=".jpg,.jpeg,.gif,.png" class="filestyle" data-buttonText="انتخاب تامبنیل" />
                <span asp-validation-for="PortfolioThumbnailFile" class="text-danger" />

                <div class="panel panel-default">
                    <div class="panel-heading">تامنیل فعلی</div>
                    <div class="panel-body">
                        <img src="~/images/portfolio/thumb/@Model.CurrentThumbnail" class="img-thumbnail" />

                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ارسال" class="btn btn-lg btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/pickday/moment.min.js"></script>
    <script src="~/lib/pickday/pikaday.js"></script>
    <script src="~/lib/pickday/pikaday.jquery.js"></script>
<script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/js/webforscripts/admin.portfolio.create.js"></script>
}