@model WebFor.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "????? ?????";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ArticleTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArticleTitle" class="form-control"/>
                <span asp-validation-for="ArticleTitle" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleSummary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArticleSummary" class="form-control"/>
                <span asp-validation-for="ArticleSummary" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ArticleBody" class="form-control"></textarea>
                <span asp-validation-for="ArticleBody" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArticleStatus" class="form-control"/>
                <span asp-validation-for="ArticleStatus" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}