@using System.Threading.Tasks
@model WebFor.Web.ViewModels.Account.LoginViewModel


@{
    ViewData["Title"] = "ورود";
}

@section styles{
    <style>
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        .checkbox label::before {
            left: 102px !important;
        }

        .checkbox label::after {
            left: 100px !important;
        }

        .row{margin:0;}

    </style>

    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ورود</h1>
                <p>از طریق شبکه های اجتماعی به سایت وارد شوید، یا در صورت تمایل می توانید ثبت نام کنید.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active"><a href="/Account/Login">ورود</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-3">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form" style="max-width: 600px;">

                <div class="col-md-10">
                    <h2>
                        ورود به سایت <br /><small>با استفاده از اکانت محلی خود وارد شوید.</small>
                    </h2>
                    <hr class="colorgraph">

                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <input asp-for="Email" placeholder="ایمیل" class="form-control input-lg" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <input asp-for="Password" placeholder="پسورد" class="form-control input-lg" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" asp-for="RememberMe">
                            <label asp-for="RememberMe">به خاطر داشتن؟</label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-lg btn-success" style="width: 100%;">ورود</button>

                        <br /><br />

                        <p>
                            <a asp-action="Register">نام کاربری ندارید؟ ثبت نام کنید.</a>
                        </p>

                        <p>
                            <a asp-action="ForgotPassword">پسورد خود را فراموش کرده اید؟</a>
                        </p>

                        <p>
                            <a asp-action="ResendConfirmationEmail">ارسال دوباره لینک فعال سازی؟</a>
                        </p>

                        <hr class="colorgraph">
                    </div>
                </div>

                

            </form>
        </section>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-3">
        <h2>ورود به سایت</h2>
        <hr class="colorgraph">
        @{ await Html.RenderPartialAsync("_SocialLoginPartial"); }
        <hr class="colorgraph">
    </div>


</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
