@using System.Threading.Tasks
@using WebFor.Web.ViewModels.Account
@model WebFor.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ارسال دوباره لینک فعال سازی";
}

@section styles{
    <style>
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        .checkbox label::before {
            left: 102px !important;
        }

        .checkbox label::after {
            left: 100px !important;
        }

        .row {
            margin: 0;
        }
    </style>

    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ارسال دوباره لینک فعال سازی</h1>
                <p>اگر لینک فعال سازی برای شما ارسال نشده، لینک فعال سازی جدید درخواست کنید.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active"><a href="/Account/ResendConfirmEmail">ارسال دوباره لینک فعال سازی</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-3">
        <form asp-controller="Account" asp-action="ResendConfirmEmail" method="post" class="form-horizontal" role="form">


            <div class="col-md-10">
                <h2>
                    ارسال دوباره لینک فعال سازی <br /><small>اگر لینک فعال سازی برای شما ارسال نشده، لینک فعال سازی جدید درخواست کنید.</small>
                </h2>
                <hr class="colorgraph">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>
            

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Email" placeholder="ایمیل" class="form-control input-lg" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-lg btn-success" style="width: 100%;">درخواست لینک فعال سازی</button>

                    <hr class="colorgraph">

                </div>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
