@{
    ViewData["Title"] = "خدمات ما";
}

@section styles{

}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>خدمات</h1>
                <p>در این بخش شما به خدماتی که ما ارائه می دهیم آشنا خواهید شد.</p>
            </div>
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">خدمات</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="center">
                    <h2>خدماتی که ما ارائه می دهیم</h2>
                    <hr style="border-color: darkslategrey;" />
                </div>
                <div class="gap"></div>

                <div class="row">

                    <div class="col-md-6">

                        <blockquote>
                            <p>
                                <span class="fa fa-globe"></span> توسعه وب
                            </p>
                            <small>طراحی وب سایت های دینامیک</small>
                            <small>طراحی وب سایت های استاتیک</small>
                            <small>طراحی مجدد یا ترمیم وب سایت های دارای مشکل</small>
                            <small>ارائه راه حل های کراس پلتفرم</small>
                            <small>ساخت فروشگاه های اینترنتی</small>
                            <small>ساخت سیستم های اتوماسیون اداری</small>
                            <small>بهینه سازی برای پلتفرم های خاص</small>
                        </blockquote>

                        <blockquote>
                            <p>
                                <span class="fa fa-phone-square"></span> سئو
                            </p>
                            <small>بهینه سازی برای موتورهای جستجوی انتخابی</small>
                            <small>بهینه سازی کیورد های انتخابی برای مطالب ارسالی سایت</small>
                            <small>کمک در خصوص جمع آوری لینک های بازگشتی از منابع معتبر</small>
                            <small>بهینه سازی جستجوها برای یک منطقه خاص</small>
                        </blockquote>

                    </div>

                    <div class="col-md-6">

                        <blockquote>
                            <p>
                                <span class="fa fa-search"></span> مشاوره
                            </p>
                            <small>مشاوره در خصوص انتخاب تکنولوژی مناسب</small>
                            <small>مشاوره در خصوص راه حل  های مختلف برای حل مسئله تجاری</small>
                            <small>مشاوره در خصوص انتخاب تیم های نرم افزاری</small>
                            <small>مشاوره در خصوص شیوه های پایین آوردن هزینه</small>
                        </blockquote>

                        <blockquote>
                            <p>
                                <span class="fa fa-wordpress"></span> راه اندازی راه حل های آماده
                            </p>
                            <small>راه اندازی فروشگاه های اینترنتی با راه حل های آماده</small>
                            <small>راه اندازی سیستم های مدیریت محتوا</small>
                            <small>راه اندازی فوروم های انترنتی</small>
                            <small>شخصی سازی سیستم های مدیریت محتوا</small>
                        </blockquote>

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>


<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="center">
                    <h2>تکنولوژی های مورد استفاده</h2>
                    <hr />
                </div>

                <div class="gap"></div>

                <div class="row">

                    <div class="well" style="padding: 0;">

                        <div id="myCarousel" class="carousel slide">

                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/asp.netMVC.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/asp.netCore.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/c-sharp-icon.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/entity-framework.png" alt="Image" class="img-responsive"></a>
                                        </div>

                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/linq.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/webapi.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/sql-server.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/javascript.png" alt="Image" class="img-responsive"></a>
                                        </div>

                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/JQUERY.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/json.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/underscorejs.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/angularjs.png" alt="Image" class="img-responsive"></a>
                                        </div>

                                    </div>
                                </div>


                                <div class="item">
                                    <div class="row">

                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/css.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/css3.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/HTML5_Logo.ico" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/bootstrap.jpg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/google-analytics.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/Visual-Studio.jpg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/git.jpg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/xml.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/logo_ckeditor.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/gulp-js.jpg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/modernizr.jpg" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="thumbnail"><img src="~/images/used-technology/spin-js.jpg" alt="Image" class="img-responsive"></a>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <a class="right carousel-control" style="text-align: right;" href="#myCarousel" data-slide="next"><span class="fa fa-angle-right fa-4x"></span></a>

                            <a class="left carousel-control" style="text-align: left;" href="#myCarousel" data-slide="prev"><span class="fa fa-angle-left fa-4x"></span></a>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>