@{
    ViewData["Title"] = "شرایط و ضوابط";
}

@section styles{
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />

    <style>
        .progress-bar {
            line-height: 30px;
        }
    </style>

}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>شرایط و ضوابط</h1>
                <p>در این بخش در مورد شرایط و ضوابط کاری این سایت اطلاع رسانی خواهد شد</p>
            </div>
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">شرایط و ضوابط</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="container">
    <div class="row">
        <div class="col-md-7">


            <h2>شرایط و ضوابط</h2>

            <p><span style="font-size: x-large; font-family:royabold;">1.</span>  وب برای ایران وقتی پیش پرداخت توافق شده پرداخت شد، کار بر روی پروژه رو شروع میکند، و با تکمیل هر فاز از پروژه، مبلغ فاز بعدی باید پرداخت شود تا فاز بعدی پروژه آغاز شود، اگر تهیه هاست و دامین بر عهده این سایت باشد، هزینه هاست و دامین باید سالانه پرداخت شود.</p>

            <p>
                <span style="font-size: x-large; font-family: royabold;">2.</span>  اگر مشتریان سرویس هایی اضافه بر سرویس های توافق شده احتیاج داشته باشند، هزینه مربوطه به صورت ساعتی از آنها دریافت خواهد شد.
            </p>


            <p><span style="font-size: x-large; font-family:royabold;">3.</span>  تاخیر در پروژه امکان پذیر است در زمان هایی که:</p>
            <ul>
                <li>تاخیری در پرداخت هزینه اتفاق افتاده باشد</li>
                <li>درخواست مشتری ساختار، طراحی و محتوایات پروژه رو تغییر دهد</li>
                <li>مشتری سرویس دیگری که مربوط به پروژه است را درخواست کند</li>
                <li>تاخیری در تهیه و تحویل فرم های درخواستی از مشتری وجود داشته باشد</li>
                <li>زمان های داده شده برای اتمام پروژه تخمینی هستند و این سایت ممکن است در صورت نیاز زمان تحویل پروژه را به تاخیر بیندازد</li>
            </ul>

            <p><span style="font-size: x-large; font-family:royabold;">4.</span>  اگر مقاله ای به این سایت ارسال کردید، ما بعد از مطالعه دقیق مقاله در صورتی که تشخیص دهیم این مقاله از جایی دیگر کپی نشده و مطالب آن مفید است آن را تایید خواهیم کرد و در سایت منتشر خواهد شد.</p>

            <p><span style="font-size: x-large; font-family:royabold;">5.</span>  قیمت های منتشر شده بر روی سایت فقط جهت اطلاع هستند و ممکن است در آینده تغییر کنند، قیمت نهایی زمان بسته شدن قرارداد و توافق صورت خواهد گرفت.</p>

            <p><span style="font-size: x-large; font-family:royabold;">6.</span>  وب برای ایران مسئولیتی در قبال محتوای سایت هایی که طراحی می کند بر عهده نمیگیرد و تولید کنند محتوا برای سایت هایی که طراحی کرده نیست، ما صرفا ارائه دهنده نرم افزار سایت هستیم و نه محتوای آن.</p>

            <p><span style="font-size: x-large; font-family:royabold;">7.</span>  به دلیل تنوع مروگرها و دستگاه هایی که می توانند محتوای تحت وب نشان دهند مانند گوشی های هوشمند و غیره، شکل و ظاهر و کارکرد یک سایت بر روی تمامی دستگاه های ممکن به یک صورت نمی باشد، و ما مسئولیتی در قبال آن قبول نمی کنیم و از مشتری نیز توقع داریم از این موضوع آگاه باشد، ما در صورتی مسئولیت این مقوله را قبول خواهیم کرد که از قبل توافقی در مورد درست نمایش داده شدن وب سایت بر روی یک پلتفرم خاص صورت گرفته باشد، در غیر اینصورت ما فرض را بر این قرار خواهیم داد که مشتری از مرورگرهای به روز کامپیوترهای خانگی استفاده خواهد کرد.</p>

            <h2>ارتباط با ما</h2>
            <p>اگر سوالی در مورد شرایط و ضوابط دارید می توانید از اطلاعات زیر برای ارتباط با ما استفاده کنید</p>


            <dl>
                <dt>از طریق سایت:</dt>
                <dd><a href="http://www.webfor.ir/Contact/Create">ارتباط با ما</a></dd>
                <dt>ایمیل:</dt>
                <dd><a href="mailto:info@webfor.ir">info@webfor.ir</a></dd>
                <dt>تلفن:</dt>
                <dd>0910-377-3310</dd>
            </dl>



        </div>
    </div>
</section>