@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["SuccessfulSubmit"];
}

<script>
    setTimeout(function () { window.location.replace("/Home/Index"); }, 3000);
</script>

@section MetaTags{<meta http-equiv="refresh" content="3;url=/Home/Index">}

<h1 class="text-success text-center">@Localizer["SuccessfulSubmit"]</h1>
<h2 class="text-success text-center">@Localizer["SuccessfulSubmitDesc"]</h2>