<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <ul class="pull-right">
                <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li>
                <li><a href="/">خانه</a></li>
                <li><a href="/Home/About">درباره ما</a></li>
                <li><a href="/Home/Faq">سوالات متداول</a></li>
                <li><a href="/Contact/Create">تماس با ما</a></li>
            </ul>
        </div>

        <div class="col-sm-6">
            &copy; @DateTime.Now.Year <a target="_blank" href="http://webfor.ir/" title="وب برای ایران طراحی وب سایت های سفارشی، مقالات روز تکنولوژی، مشاوره تخصصی">وب برای ایران</a>. تمام حقوق محفوظ است.
        </div>

    </div>
</div>