@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="caret"></i> @User.GetUserName().Split('@').First() <i class="caret"></i> </a>
                <ul class="dropdown-menu">

                    <li><a href="/Manage/Index">مدیریت اکانت</a></li>
                    <li><a href="/Manage/ChangePassword">تغییر پسورد</a></li>
                    <li><a href="/User/Profile/EditProfile">ویرایش پروفایل</a></li>
                    <li><a href="/User/Profile/ProfileDetail/@User.GetUserName()">مشاهده پروفایل</a></li>
                    <li><a href="/Manage/ManageLogins">ورود با دیگر سرویس ها</a></li>

                    <li class="divider" style="background-color: gray;"></li>

                    <li><a href="#">ارسال مقاله</a></li>
                    <li><a href="#">ویرایش مقاله</a></li>

                    <li class="divider" style="background-color: gray;"></li>

                    <button type="submit" class="btn btn-link navbar-btn navbar-link">خروج</button>

                </ul>
            </li>


        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">ثبت نام</a></li>
        <li><a asp-controller="Account" asp-action="Login">ورود</a></li>
    </ul>
}
