@{
    ViewBag.Title = "ثبت موفق";
}

<script>
    setTimeout(function () { window.location.replace("/Home/Index"); }, 3000);
</script>

@section MetaTags{<meta http-equiv="refresh" content="3;url=/Home/Index">}

<h1 class="text-success text-center">ثبت موفق</h1>
<h2 class="text-success text-center">عملیات مورد نظر موفقیت آمیز بود، هم اکنون به صفحه اصلی هدایت می شوید.</h2>