@using WebFor.Web.Areas.Admin.ViewModels
@model WebFor.Web.Areas.Admin.ViewModels.Article.ArticleViewModel

@{
    ViewData["Title"] = "ویرایش مقاله";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
}

<form asp-action="Edit" asp-controller="Article" id="ArticleForm" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr/>
        <input  asp-for="ArticleId" type="hidden"/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ArticleTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArticleTitle" class="form-control" />
                <span asp-validation-for="ArticleTitle" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleSummary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ArticleSummary" cols="16" rows="10" style="max-width: 480px;" class="form-control"></textarea>
                <span asp-validation-for="ArticleSummary" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ArticleBody" class="form-control text-editor"></textarea>
                <span asp-validation-for="ArticleBody" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleTags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArticleTags" class="form-control" autocomplete="off" />
                <span asp-validation-for="ArticleTags" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ArticleStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ArticleStatus">
                    <option value="" selected>لطفا یک وضعیت انتخاب کنید</option>
                    <option value="Published">منتشر شده</option>
                    <option value="Draft">چرک نویس</option>
                    <option value="TopArticle">مقالات انتخابی</option>
                    <option value="Archived">ارشیو شده</option>
                </select>
                <span asp-validation-for="ArticleStatus" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsOpenForComment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsOpenForComment" />
                <span asp-validation-for="IsOpenForComment" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="btn btn-lg btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.ckeditor.js"></script>
    <script src="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/bootstrap3-typeahead/bootstrap3-typeahead.min.js"></script>
    <script src="~/js/site.typeahead.js"></script>
}