@using System.Threading.Tasks
@using FreelancerBlog.ViewModels.Manage
@model FreelancerBlog.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر پسورد";
}

@section styles{
    <link href="~/css/colorgraph.css" rel="stylesheet" />
}


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>تغییر پسورد</h1>
                <p>در این صفحه میتوانید پسورد خود را تغییر دهید.</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active"><a href="/Manage/ChangePassword">تغییر پسورد</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-3">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">

            <div class="col-md-10">

                <h2>
                    تغییر پسورد <br /><small>برای تغییر پسورد، پسورد قدیمی و جدید خود را در فیلد های زیر وارد کنید.</small>
                </h2>

                <hr class="colorgraph">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>


            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="OldPassword" placeholder="پسورد قدیمی" class="form-control input-lg" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="NewPassword" placeholder="پسورد جدید" class="form-control input-lg" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" placeholder="تایید پسورد جدید" class="form-control input-lg" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-lg btn-success" style="width: 100%;">تغییر پسورد</button>
                    <hr class="colorgraph">
                </div>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
