@{
    ViewData["Title"] = "حریم خصوصی";
}

@section styles{
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />

    <style>
        .progress-bar {
            line-height: 30px;
        }
    </style>

}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>حریم خصوصی</h1>
                <p>در این بخش در مورد سایت های سایت در مورد حریم خصوصی توضیحاتی داده خواهد شد.</p>
            </div>
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">حریم خصوصی</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="container">
    <div class="row">
        <div class="col-md-7">



            <h2>چه اطلاعاتی را ذخیره میکنیم؟</h2>
            <p>
                اگر شما فقط از سایت بازدید می کنید، ما هیچگونه اطلاعاتی از شما ذخیره نخواهیم کرد و بیشتر مطالب در این بخش مربوط به کسانی است که در سایت ثبت نام میکنند و یا مشتریان ما هستند.
                اطلاعانی که ما ذخیره میکنیم شامل نام، ایمیل، شماره تلفن از کسانی که در سایت ما ثبت نام کرده اند یا یکی از فرم های سایت را پر کرده اند می باشد.
            </p>

            <h2>از این اطلاعات چه استفاده ای می کنیم؟</h2>
            <p>اطلاعاتی که در مورد شما ذخیره می کنیم ممکن برای یکی از اهداف زیر مورد استفاده قرار گیرد: </p>

            <ul class="list">
                <li>
                    <h3>برای تطبیق سایت با نیاز های کاربران</h3>
                    <p>(اطلاعاتی که شما در اخنیار ما قرار می دهید به ما کمک میکند پاسخگویی بهتری به نیازهای کاربران داشته باشیم)</p>
                </li>
                <li>
                    <h3>ارتقاء وب سایت</h3>
                    <p>(ما دائما در تلاش هستیم تا وب سایت خود را طوری ارتقاء دهیم که بتوانیم خدمات بهتری را به مشتریان خود ارائه دهیم)</p>
                </li>
                <li>
                    <h3>برای بهبود پشتیبانی به مشتریان</h3>
                    <p>(اطلاعات شما به ما کمک می کند تا خدمات پشتیبانی بهتری را به کاربران ارائه کنیم)</p>
                </li>
                <li>
                    <h3>ارسال ایمیل</h3>
                    <p>(ما از ایمیلی که در اخنیار ما قرار داده اید برای ارسال اطلاعاتی که مربوط به حساب کاربری شما می شود استفاده خواهیم کرد، همچنین اگر در خبرنامه ثبت نام  کرده باشید ایمیلی حاوی جدید ترین اخبار و مقالات دریافت خواهید کرد)</p>
                </li>
                <li>
                    <h3>ارتباط با شما</h3>
                    <p>(ما از اطلاعاتی که در اختیار ما قرار داده اید برای ارتباط با شما در صورتی که ابراز تمایل کرده باشید استفاده خواهیم کرد)</p>
                </li>
            </ul>


            <h2>چطور از اطلاعات شما محافظت می کنیم؟</h2>
            <p>
                (ما به امنیت اهمیت زیادی می دهیم و اطلاعات شما در بانک های اطلاعاتی امن و رمز نگاری شده نگهداری خواهد شد)
            </p>


            <h2>آیا از کوکی استفاده می کنید؟</h2>
            <p>
                (بله، ما برای ذخیره اطلاعاتی که از لحاظ امنیتی اهمیت چندانی ندارند از کوکی استفاده می کنیم، ولی برای اطلاعات مهم از قابلیت سشن استفاده می کنیم، سشن ها در سرور ذخیره می شوند و امنیت بالاتری نسبت به کوکی دارند)
            </p>


            <h2>ایا اطلاعات شما را با بقیه به اشتراک می گذاریم؟</h2>
            <p>
                (خیر، ما چنین کاری را نخواهیم کرد، اطلاعات شما فقط و فقط توسط مدیران این سایت برای ارتباط با شما و حل مشکلات شما مورد استفاده قرار خواهد گرفت)
            </p>


            <h2>شرایط استفاده</h2>
            <p>
                لطفا از شرایط و ضوابط این سایت نیز بازدید کنید، در <a href="/Home/TermsAndConditions">شرایط و ضوابط</a> توضیحاتی در مورد اینکه ما چه توقعاتی از بازدید کنندگان سایت داریم داده شده است
            </p>


            <h2>رضایت شما</h2>
            <p>استفاده شما از این سایت به منزله توافق شما با سیاست های سایت در قبال حریم خصوصی است.</p>


            <h2>تغییرات در حریم خصوصی</h2>
            <p>اگر ما سیاست های حریم خصوصی را تغییر دهیم، شما می توانید این تغییرات را در این صفحه ببینید، همچنین در چنین مواقعی ما یک ایمیل به شما ارسال خواهیم کرد.</p>


            <h2>ارتباط با ما</h2>
            <p>اگر سوالی در مورد حریم خصوصی دارید می توانید از اطلاعات زیر برای ارتباط با ما استفاده کنید</p>


            <dl>
                <dt>از طریق سایت:</dt>
                <dd><a href="#">ارتباط با ما</a></dd>
                <dt>ایمیل:</dt>
                <dd><a href="mailto:info@address.com">info@address.com</a></dd>
                <dt>تلفن:</dt>
                <dd>0910-377-3310</dd>
            </dl>



        </div>
    </div>
</section>