@using System.Threading.Tasks
@using Microsoft.Extensions.Configuration;
@model FreelancerBlog.Web.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

@inject IConfiguration _configuration

@section styles{
    <style>
        legend {
            width: inherit;
            padding: 0 10px;
            border-bottom: none;
        }

        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        .checkbox label::before {
            left: 106px !important;
        }

        .checkbox label::after {
            left: 104px !important;
        }

        .row {
            margin: 0;
        }
    </style>

    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ثبت نام</h1>
                <p>فرم ثبت نام در سایت</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">ثبت نام</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row">

    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-3">

        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal " role="form" style="max-width: 600px;">

            <div class="col-md-10">
                <h2>
                    ثبت نام <br /><small>برای استفاده بهتر از امکانات سایت لطفا ثبت نام کنید.</small>
                </h2>
                <hr class="colorgraph">

                @if ((string)ViewData["FailedTheCaptchaValidation"] == "true")
                {
                    <div class="alert alert-warning">
                        برای تکمیل ثبت نام لطفا قسمت کپچا را تکمیل نمایید.
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>


            <br />

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Email" placeholder="ایمیل" class="form-control input-lg" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-10 col-sm-5 col-md-5">
                    <input asp-for="Password" placeholder="پسورد" class="form-control input-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-xs-10 col-sm-5 col-md-5">
                    <input asp-for="ConfirmPassword" placeholder="تایید پسورد" class="form-control input-lg" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="UserFullName" placeholder="نام و نام خانوادگی" class="form-control input-lg" />
                    <span asp-validation-for="UserFullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group input-lg">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <fieldset style="border: 1px solid #808080; padding-right: 15px;">
                        <legend>جنیست</legend>
                        <input asp-for="UserGender" value="Male" type="radio" />
                        <label asp-for="UserGender">مرد</label>
                        &nbsp;
                        <input asp-for="UserGender" value="Female" type="radio" />
                        <label asp-for="UserGender">زن</label>
                    </fieldset>
                    <span asp-validation-for="UserGender" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />
            <br />

            <div class="form-group">
                <div class="col-md-10">
                    <select asp-for="UserHowFindUs" class="form-control input-lg" placeholder="طریقه اشنایی با ما">
                        <option value="">لطفا طریقه آشنایی را انتخاب کنید</option>
                        <option value="موتورهای جستجو">موتورهای جستجو</option>
                        <option value="دوستان و آشنایان">دوستان و آشنایان</option>
                        <option value="مشتریان قبلی ما">مشتریان قبلی ما</option>
                        <option value="شبکه های اجتماعی">شبکه های اجتماعی</option>
                        <option value="ایمیل های تبلیغاتی">ایمیل های تبلیغاتی</option>
                    </select>
                    <span asp-validation-for="UserHowFindUs" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" asp-for="TermsAndConditions">
                        <label asp-for="TermsAndConditions">موافقت با قوانین</label> - <a href="#">لطفا قوانین سایت را با دقت مطالعه فرمایید.</a>
                    </div>
                    <br />
                    <div class="g-recaptcha" data-sitekey="@(_configuration.GetValue<string>("reChaptchaSecret:client-data-sitekey"))"></div>
                    <span asp-validation-for="TermsAndConditions" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-lg btn-success" style="width: 100%;">ثبت نام</button>
                    <hr class="colorgraph">
                </div>
            </div>


        </form>

    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
        <h2>ثبت نام</h2>
        <hr class="colorgraph">
        @{ await Html.RenderPartialAsync("_SocialLoginPartial"); }
        <hr class="colorgraph">
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/CustomScripts/Root/Account/Register.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
}